# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Envs / secrets
.env
cookies.txt
venv/
.venv/

# OS/IDE
.DS_Store
.idea/
.vscode/
.env
**/.env
.env.*
node_modules/
.dist/
dist/
__pycache__/
*.sqlite
*.db

